nav.navbar {
  color: #136388;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: block;
}
body {
  background-color: white;
}
h1 {
  color: #136388;
}
p {
  color: #ffe8e8;
  background-color: #136388;
}
