#hero {
  height: 500px;
  width: 300px;
  background: url("images/panouparcare.png");
}
#logo {
  width: 100px;
  height: 100px;
  background: url("images/logo.png");
}
nav.navbar {
  color: #136388;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: block;
}
body {
  background-color: white;
}
h1 {
  color: #136388;
}
p {
  color: #ffe8e8;
  background-color: #136388;
}
[class*="col"] {
  padding: 1rem;
  background-color: #136388;
  border: 2px solid white;
  color: wheat;
}
